.foodInnerBox {
    width:950px;
    margin:0 auto;
    min-height: 1000px;
}
.innerUp {
    display:grid;
    grid-template-columns: 1fr 1fr;
    height:500px;
}
.innerUpLeft, .innerUpRight {
    display:flex;
    align-items: center;
    justify-content: center;
}


.innerUpLeft img {
    width:70%;
    box-shadow: 0 0 5px black;
    border-radius: 5px;
}

.iframeMap {
    width:80%;
    height:80%;
}

.innerDown {
    height:500px;
    width:100%;
    background-color: black;
    color:white;
    border-radius: 5px;
    position: relative;
}

.innerDownContent {
    padding-top: 10px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin-left:50px;
}

.innerDownContentRight{
    margin-right:60px;
}

.foodFigure {
    min-width:500px;
    height:80px;
    position: absolute;
    display:flex;
    align-items: center;
    justify-content: space-between;
    right:30px;
    bottom:20px;
}

.foodFigure img {
    width:150px;
    height:100%;
    border-radius: 5px;
    opacity:0.8;
}

.foodFigure img:hover {
    cursor: pointer;
}